body {
	margin-left: 500px;
}

form {
  position: relative;
  max-width: 320px;
  width: 100%;
  outline: none;
  width: 100%;
  margin: 0 0 20px;
  padding: 100px 0;

}

#button {
  background: #33b5e5;
  border: 0;
  height: 22px;
  color: #ffffff;
  margin-left: 5px;
  font-weight: bold;
  font-size: 12px;
}
